<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indeed Clone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/88ebba7a68.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar">
        <nav class="navbar navbar-light">
            <a class="navbar-brand-logo" href="#">
              <img src="https://1000logos.net/wp-content/uploads/2023/01/Indeed-Logo-2004.png" width="170" height="70" class="d-inline-block" alt="logo">
            </a>
          </nav>
          
          
          <button type="button" class="btn btn-outline-primary">Find Jobs</button>
          <button type="button" class="btn btn-outline-primary">Company Reviews</button>
          <button type="button" class="btn btn-outline-primary">Salary Guide</button>
          <button type="button" class="btn btn-outline-primary">Upload your Resume</button>
          <button type="button" class="btn btn-primary">Sign In</button>
          <button type="button" class="btn btn-outline-primary">Post Job</button>
          
    </div>
    <hr>
    <div class="container mt-4">
      <% if (messages.success) { %>
      <p class="alert alert-success mt-4"><%- messages.success %></p>
      <% } %>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th>user_email</th>
            <th>name</th>
            <th>phone_num</th>
            <th>role</th>
            <th>address</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <tr>
            <!-- <th scope="row"><%= (i+1) %></th> -->
            <td><%= data[i].user_email%></td>
            <td><%= data[i].name%></td>
            <td><%= data[i].phone_num%></td>
            <td><%= data[i].role%></td>
            <td><%= data[i].address%></td>
          </tr>
          <% } }else{ %>
          <tr>
            <td>No data ever existed.</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class = "footer">
      <footer>
          <hr>
          <div class="footer-content">
            <p>&copy; 2023 Indeed-clone.com. All rights reserved.</p>
            <nav>
              <ul>
                <li><a href="#">Accessibility Centre</a></li>
                <li><a href="#">Privacy Centre</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
            </nav>
          </div>
        </footer>
  </div> 
</body>
</html>